/* -----------------------------------*/
/* ---------->>> header <<<-----------*/
/* -----------------------------------*/

header {
    background: #f5f3ef;
}

.menu {
    position: relative;
}

.logo {
    width: 30%;
}

.nav-menu {
    position: absolute;
    width: relative;
    top: 45%;
    right: 10%;
}

.nav-li {
    display: inline-block;
    margin: 0 0 0 1em;
}

.nav-a {
    text-transform: uppercase;
    color: #806358;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.nav-a:hover {
    color: hsl(17, 27%, 28%);
}

/* -----------------------------------*/
/* ---------->>> main <<<-----------*/
/* -----------------------------------*/

main {
    padding: 0 6em;
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
}

.titulo {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 1.5em 0;
}

.titulo::before {
    content: "{ "
}

.titulo::after {
    content: " }"
}

.avatar {
    border-radius: 100%;
    width: 20%;
    display: inline-block;
}

.texto {
    display: inline-block;
    padding: 1em 5em;
    line-height: 1.5;
    vertical-align: top;
}

nav a {
    color: #806358;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5;
}

nav a:before {
    content: "â€ "
}

nav a:hover {
    color: hsl(17, 27%, 28%);
}

/* -----------------------------------*/
/* ---------->>> footer <<<-----------*/
/* -----------------------------------*/

footer {
    text-align: center;
    padding: 40px 0;
    color: #806358;
    background: #f5f3ef;
    font-size: 13px;
    margin: 20px 0 0;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color:hsl(17, 27%, 28%)
}
